<%- include('partials/header') %>

<div class="bb-box">
  <div class="box">
    <div class="title">
      <span class="block"></span>
      <h1>Ṣosanya Oluwafemi<span></span></h1>
    </div>
    <div class="role">
      <div class="block"></div>
      <p>Frontend Web Developer, Sound Tech, & Teacher</p>
    </div>
    <div class="contact-wrap row">
      <ul>
        <li class="folio col-sm-4 col-md-4">
          <a href="https://boomshakar.netlify.app/"
            ><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></i
          ></a>
        </li>
        <li class="github col-sm-4 col-md-4">
          <a href="https://github.com/boomshakar/"
            ><i class="fa fa-github fa-2x" aria-hidden="true"></i
          ></a>
        </li>
        <li class="linkedin col-sm-4 col-md-4">
          <a href="https://www.linkedin.com/in/oluwafemi-sosanya-144968143/"
            ><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i
          ></a>
        </li>
        <li class="twitter col-sm-4 col-md-4">
          <a href="https://twitter.com/_boomshakar/"
            ><i class="fa fa-twitter fa-2x" aria-hidden="true"></i
          ></a>
        </li>
        <li class="whatsapp col-sm-4 col-md-4">
          <a href="https://wa.link/0s0be3"
            ><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i
          ></a>
        </li>
        <li class="email col-sm-4 col-md-4">
          <a href="mailto:femi_sosanya@outlook.com"
            ><i class="fa fa-envelope fa-2x" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
